

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
 
    <body>
      <header>
        <a href="/">
          <h1>CHURNVISION </h1>
        </a>
        <nav>
          <ul>
            <!-- <li><a href="index.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="prediction.html">Prediction</a></li>
            <li><a href="contact.html">Contact Us</a></li> -->
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/login">Prediction</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </nav>
      </header>

      <div class="aboutus">
        <div class="aboutus_box">
          <div class="aboutus_box_hero">
            <div class="aboutus_box_hero_left">
              <h1>Our Story.</h1>
              <p>
                As the provider of our cutting-edge bank customer churn
                prediction model, we are dedicated to revolutionizing how
                financial institutions approach customer retention and growth.
                Our team combines expertise in data science, machine learning,
                and banking industry knowledge to deliver a predictive analytics
                solution tailored specifically for your institution's needs.
              </p>
            </div>
            <div class="aboutus_box_hero_right">
              <!-- <img src="../static/images/hero.webp" -->
           
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer-logo">
            <a href="/">
                <h1>CHURNVISION</h1>
            </a>
        </div>
        <div class="footer-container">
            <div class="footer-links-left">
                <ul>
                    <li><a href="/about">Company</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer-links-center">
                <p>Useful Links</p>
                <ul>
                    <li><a href='/login'>Free Trial</a></li>
                    <li><a href="/contact">Support</a></li>
                </ul>
            </div>
            <div class="subscribe">
                <h3>Product Trial</h3>
                <ul>
                    <li><a href="/login">Free Trial</a></li>
                </ul>
                <div class="subscribe_box">
                    <input type='email' placeholder="Enter your email *" />
                    <RiSendPlaneFill class="subscribe_box_send" />
                </div>
                <div class="subscribe_box_info">
                    <p> Subscribe to receive updates and offers.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    </body>
  </body>
</html>
